AIRFLOW_UID=1000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID=your_aws_access_key_here     
AWS_SECRET_ACCESS_KEY=xINAWS_ACCESS_KEY_ID=your_aws_access_key_here 
AWS_DEFAULT_REGION=ap-south-1
S3_BUCKET_NAME=danish-airflow-snowflake-2026
_PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-amazon boto3 faker yfinance==0.2.66
